#title {
  position: relative;
  /* font-family: 'Source Serif Pro', serif; */
}

#features {
  padding: 3% 10%;
  text-align: center;
}

#features p {
  text-align: center;
}

#features .intro {
  margin: 20px 10px;
  /* text-align: center; */
}

#Contribute {
  padding: 7% 10%;
  background-color: #28a745;
}

/* #footer {
  text-align: center;
  padding: 10% 0 2%;
} */

h1 {
  font-family: "Oswald", sans-serif;
  /* font-weight: bolder; */
}

h4,
h5,
.brand-name {
  font-family: "Kanit", sans-serif;
}

p,
small {
  font-family: "Poppins", sans-serif;
}

span {
  color: #28a745;
}

.navbar {
  background-color: #28a745;
  padding: 10px 10px 10px 30px;
}

/* 
.nav-link {
  color: #fff;
} */

.container-fluid {
  padding: 0;
}

.support-rep {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-f {
  margin: 0 8px;
  color: #28a745;
}

.logo {
  border-radius: 30%;
}

.background {
  background-image: url("../images/kids1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.heading {
  text-align: left;
  position: absolute;
  top: 38%;
  padding-left: 8%;
}

.heading button {
  margin: 0 5px;
}

.bold-title {
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
}

@media screen and (max-width: 1180px) {
  #Contribute {
    padding: 10%;
    background-color: #28a745;
  }
}

/* @media and screen(max-width: 500px) {
  .footer {
    margin-top: 5px;
  }
} */
